.question{
	background-color: teal;
	font-size: 25px;
	color: white;
	padding: 20px;
	cursor: pointer;


}

.answer{
	background-color: purple;
	font-size: 20px;
	color: white;
	padding: 20px;
	display:none ;
}


.animation {
    background-color: pink;
    width: 100px;
    border: 1px solid green;
  }
  .block_img{
  	position: relative;
    
    top: 30px;
    margin: 5px;
    margin-bottom: 30px;
  }

  .panel_img{
  	
    margin: 10px;
    margin-bottom: 30px;
  }

   p {
    background: yellow;
  }
  #foo {
    background: yellow;
  }
   em {
    color: blue;
    font-weight: bold;
  }
  .div3 {
    color: red;
  }

.div4 {
    color: red;
  }
  .div5{
  	color: red;
  }
   .li {
    margin: 3px;
    padding: 3px;
    background: yellow;
  }

   .dequeue {
    margin: 3px;
    width: 50px;
    position: relative;
    height: 50px;
    left: 10px;
    top: 30px;
    background-color: yellow;
  }
   .dequeue.red {
    background-color: red;

  }

   .prop {
    height: 30px;
    width: 150px;
    background-color: #ccf;
  }
  .div7 {
    height: 30px;
    width: 150px;
    background-color: #cfc;
  }
  	
   .focused{
	 background: #abcdef;
  }

  .box{
    width: 80px;
    height: 80px;
    background: #abc;
    border: 2px solid black;
    margin: 10px;
    float: left;
  }
  .box.after {
    border-color: red;
  }
  .box2{
  	border: 2px solid black;
  }